@media (min-width: 992px) {
    .navbar-nav{
        display: flex;
        justify-content: end;
    }
}


@media (max-width: 1000px) {
    .navbar-toggler{
        display: none;
    }

    .navbar-nav{
        display: none;
    }
}


